{% extends "layout.html" %}
{% block content %}

<div class="card checkout">
    <div class="store-heading">{{ __("Checkout") }}</div>
    
    
    <form id="updateQuantityCheckout" method="post" action="/checkout/update">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>{{ __("Name") }}</th>
                    <th>{{ __("Price") }}</th>
                    <th>{{ __("Qty") }}</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    {% for package in basket.packages %}
                        <tr>
                            <td class="name" style="width: 45%">
                                {% if package.options %} 
                                    <div class="options-frame" data-toggle="tooltip" data-placement="top" data-html="true" title="{% for option in package.options %}<div class='package-options'><div><strong>{{ option.name }}</strong></div><div>{{ option.value|raw }}</div></div>{% endfor %}"><i class="fa-solid fa-gear"></i></div>
                                {% endif %}    
                                {{ package.name }}
                            </td>
                            <td class="price" style="width: 20%">{{ package.price|money }} {{ basket.currency }}</td>
                            <td class="cart-quantity" style="width: 25%">
                                {% if package.expiryPeriod == 0 %}
                                    <div class="quantity-selector{% if package.price == 0.00 or package.disableQuantity %} disabled{% endif %}">
                                        <div class="quantity-minus"><i class="fa-solid fa-minus"></i></div>
                                        <div class="quantity-number"><input type="text" name="quantity[{{ package.id }}]" value="{{ package.quantity }}" readonly></div>
                                        <div class="quantity-plus"><i class="fa-solid fa-plus"></i></div>
                                    </div>
                                    <i class="submit-quantity fa-solid fa-check"></i>
                                {% endif %}
                            </td>
                            <td class="buttons" style="width: 10%">
                                <a class="cart-remove" href="/checkout/packages/remove/{{ package.id }}">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    
    
    <div class="checkout-total">
        <span>Total:</span> {{ basket.price|money }} {{ basket.currency }}
    </div>
    
    <tebex-checkout ident="{{ basket.ident }}" id="tebex-checkout">
        <button type="submit" class="btn btn-package-add btn-checkout">
            {{ __("Proceed to checkout") }}
        </button>
    </tebex-checkout>
</div>

<script type="text/javascript">
    document.getElementById("tebex-checkout").addEventListener("payment:complete", () => {
        document.location.href="/";
    });
</script>

{% endblock %} 