{% extends "layout.html" %}

{% block content %}
	<div class="card">
	    <div class="index-header-group">
	        <div class="store-heading">{{ store.name }} Store</div>
	        <div class="store-subheading">Select a category on the left to get started!</div>
	        {{ modules|raw }}
	    </div>
	    <div class="store-description">
	        {{ index.description|raw }}
	    </div>
	    <div class="index-widget-flexbox">
	        {{ modules|raw }}
	    </div>
	    <div class="index-info">
	        <div class="support-box">
	            <div class="support-title">
	                Support
	            </div>
	            <div class="support-description">
	                {{ config("support_text") | raw }}
	            </div>
	        </div>
	        <div class="refund-box">
	            <div class="refund-title">
	                Refund Policy
	                {# Thundurh #}
	            </div>
	            <div class="refund-description">
	               {{ config("refund_text") | raw }}
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}