<div class="module-payments widget">
	 <div class="w-icon">
	    <i class="fa-solid fa-star"></i>
	 </div>
	 <div class="w-description">
	    <div class="w-title italic">{{ config("payments_module_desc") }}</div>
	    <div class="w-user-row">
	        {% for payment in module.payments %}
                <img src="{{ payment.skin }}" data-toggle="tooltip" data-html="true" title="
                    <div class='mb-2'><strong>{{ payment.ign }}</strong>{% if module.displayTime %} &bull; {{ payment.time }}{% endif %}</div>
                    {% if module.displayPackage %}
                        <div><strong>{{ payment.name[:20] }}</strong></div>
                    {% endif %}
                    {% if module.displayPrice %}
                        {{ payment.price|money }} {{ payment.currency }}
                    {% endif %}
                " />
            {% else %}
                <div class="payments-filler-box"></div>
                <div class="payments-filler-box"></div>
                <div class="payments-filler-box"></div>
                <div class="payments-filler-box"></div>
                <div class="payments-filler-box b5"></div>
                <div class="payments-filler-box b6"></div>
                <div class="payments-filler-box b7"></div>
            {% endfor %}
	     </div>
	  </div>
</div>