{% if module.display %}

<a class="module-featuredpackage toggle-modal" href="javascript:void(0);" data-remote="/package/{{ module.package.id }}">
<div class="main-circle" style="--featured-circle-color: {{ module.header }};">
    <div class="circle-mask"></div>
	<div class="circle-heading">Featured Item</div>
	<div class="circle-title">{{ module.package.name[:20] }}</div>
    <div class="circle-price">
        {% if module.package.customPrice == false and module.package.price > 0 %}
    	    {% if module.package.discount.applied %}
          		<span class="discount">{{ module.package.discount.original|money }}</span>
          	{% endif %}
    		{{ module.package.price|money }} {{ module.package.currency }}
    	{% endif %}
    </div>
</div>
<div class="image-circle" style="--featured-circle-color: {{ module.header }};">
    <div class="circle-mask-image"></div>
	<img src="{{ module.package.image.url }}" />
</div>
<div class="small-circle" style="--featured-circle-color: {{ module.header }};">
    <div class="circle-mask-small"></div>
</div>
</a>


{% endif %}