<div class="module-topdonator top-donator">
    <div class="donator-text">
        <div class="donator-title"><i class="fa-solid fa-crown"></i> {{ module.header }}</div>
        <div class="donator-subtitle">
            {% if module.donor %}
                    <span>ExampleUser</span>
                    {% if module.displayAmount %}
                        {{ __("Donated") }} {{ module.total|money }} {{ store.currency }}
                    {% else %}
                        {{ __("Donated the most ") }}
                    {% endif %}
                    
                    {% if module.period == "hourly" %}
                        {{ __("this hour.") }}
                    {% elseif module.period == "daily" %}
                        {{ __("today.") }}
                    {% elseif module.period == "monthly" %}
                        {{ __("this month.") }}
                    {% elseif module.period == "yearly" %}
                       {{ __("this year.") }}
                    {% else %}
                        {{ __("this week.") }}
                    {% endif %}
            {% else %}
                {{ __("No recent top donator to display.") }}
            {% endif %}
        </div>
    </div>
    <div class="donator-img">
        {% if module.donor %}
            <img src="https://visage.surgeplay.com/full/512/{{ module.ign }}?y=-40&slim&a38a994704f662d083b945951c84a856" />
        {% else %}
            <img src="https://visage.surgeplay.com/full/512/{{ config("top_customer_guest") }}?y=-40&slim&%%__NONCE__%%" />
        {% endif %}
    </div>
</div>