{% extends "layout.html" %}
{% block content %}

<div class="card checkout">
    <div class="store-heading">{{ __("Checkout") }}</div>
    
    
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>{{ __("Name") }}</th>
                    <th>{{ __("Price") }}</th>
                    <th>{{ __("Qty") }}</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                        <tr>
                            <td class="name" style="width: 50%"> 
                                {{ basket.packages[0].name }}
                            </td>
                            <td class="price" style="width: 40%">{{ basket.packages[0].price|money }} {{ basket.currency }} every {{ basket.packages[0].expiryPeriod }}</td>
                            <td class="buttons" style="width: 10%">
                                <a class="cart-remove" href="/checkout/packages/remove/{{ basket.packages[0].id }}">Remove</a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    
    
    <div class="checkout-total">
        <span>Total:</span> {{ basket.price|money }} {{ basket.currency }}
    </div>
    
    <tebex-checkout ident="{{ basket.ident }}" id="tebex-checkout">
        <button type="submit" class="btn btn-package-add btn-checkout">
            {{ __("Proceed to checkout") }}
        </button>
    </tebex-checkout>
</div>

<script type="text/javascript">
    document.getElementById("tebex-checkout").addEventListener("payment:complete", () => {
        document.location.href="/";
    });
</script>

{% endblock %} 